[Desktop Entry]
Name=Discord Canary
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Path=/opt/DiscordCanary
Exec=/usr/bin/DiscordCanary
Icon=/opt/DiscordCanary/discord.png
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;
